name: Wake Neon DB
on:
  schedule:
    - cron: '*/5 6-16 * * 1-5'
  workflow_dispatch:
jobs:
  ping-db:
    runs-on: ubuntu-latest
    steps:
      - name: Install psql
        run: sudo apt-get install -y postgresql-client

      - name: Execute Heartbeat Query

        run: psql "${{ secrets.DATABASE_URL }}" -c "SELECT 1;"
